In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
from '../学习/唐宇迪/线性回归/LinearRegression.py' import LinearRegression

In [2]:
df_zhjtxx = pd.read_csv('./data/账户静态信息.csv')

In [3]:
df_zhjtxx.head()

               zhdh        khrq    khjgdh  xb  年龄
0  DDF394282B1E1508  2018-04-13  577BCC91   1  25
1  CAE68290A37CC77D  2016-04-02  34ED066D   1  27
2  41E4A8AECE47E5F3  2014-09-28  30BB3825   1  44
3  163C42F2A3FD518E  2010-06-11  34ED066D   1  55
4  6FBFEB03252FDB9F  2015-08-20  D64A340B   0  44

In [9]:
train_data = df_zhjtxx.sample(frac = 0.8) ;
test_data = df_zhjtxx.drop(train_data.index) ;

In [12]:
input_param_name = '特征列名' ;
output_param_name = 'label列名' ;

(4800, 5)

In [ ]:
x_train = train_data[input_param_name].values ;
y_train = train_data[output_param_name].values ;

In [ ]:
x_test = test_data[input_param_name].values ;
y_test = test_data[output_param_name].values ;

In [ ]:
plt.scatter(x_train, y_train, label='Train data') ;
plt.scatter(x_test, y_test, label = 'Test data') ;
plt.xlabel(input_param_name) ;
plt.xlabel(output_param_name) ;
plt.show() ;