In [2]:
import numpy as np
import pandas as pd

In [3]:
# 读取静态信息文件
df_zhjtxx = pd.read_csv('./data/账户静态信息.csv') ;
df_zhjtxx.head()

               zhdh        khrq    khjgdh  xb  年龄
0  DDF394282B1E1508  2018-04-13  577BCC91   1  25
1  CAE68290A37CC77D  2016-04-02  34ED066D   1  27
2  41E4A8AECE47E5F3  2014-09-28  30BB3825   1  44
3  163C42F2A3FD518E  2010-06-11  34ED066D   1  55
4  6FBFEB03252FDB9F  2015-08-20  D64A340B   0  44

In [5]:
theta = np.zeros((10 , 1)) ;
theta

array([[0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.]])